Bin/*
*.user
*.sdf
*.opensdf
*.suo
*.ptx
*.pyc
*.VC.db
*.VC.opendb
.vs/*
.vscode/
*.pyc
*.o
*slang-dump-*
*.mp4
Source/Externals/.packman/cuda
Source/Externals/.packman/deps
Source/Externals/.packman/dx*
Source/Externals/.packman/nanovdb
Source/Externals/.packman/nvapi
Source/Externals/.packman/python
Source/Externals/.packman/slang
Source/Externals/.packman/vulkansdk
Source/Externals/.packman/WinPixEventRuntime

Source/Mogwai/Extensions/Experimentor/TMP*

Media
Tools/.packman
Tests/data
*.tlog
